@model PrescriptionCapstone.Models.Patient

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Patient</h4>
    <hr />
    <dl class="dl-horizontal">
       
<<<<<<< HEAD
=======

>>>>>>> e8bdb62fbbee43a4f1f7f1809dfa0a4b868ea574
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

<<<<<<< HEAD
        <dt>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>
=======
   
>>>>>>> e8bdb62fbbee43a4f1f7f1809dfa0a4b868ea574

        <dt>
            @Html.DisplayNameFor(model => model.Diagnosis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Diagnosis)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MedicationId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MedicationId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ScheduledAppointment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ScheduledAppointment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RefillDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RefillDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
